<main class="why-us-container">
    <header class="header">
        <h2>
            The True Essence of Our Tours…
        </h2>
    </header>
    <section class="body">
        <div class="description">
            With the vision “To conquer the travel world by spreading its wings of quality service” Destination Go strives hard to make it possible for its customers to visit any corner of the world through its quality service in the field of tourism.
        </div>
    </section>
    <section class="images-section">
        <div class="image-container">
            <img class="image" src="../../assets/bc.jpg">
        </div>
        <div class="image-container">
            <img class="image" src="../../assets/bgms.jpg">
        </div>
        <div class="image-container">
            <img class="image" src="../../assets/rm.jpg">
        </div>
        <div class="image-container">
            <img class="image" src="../../assets/m.jpg">
        </div>
    </section>
</main>