<main class="about-us-container">
    <header class="header">
        <h2>
            About Us
        </h2>
    </header>
    <section class="body">
        <div class="description">
            Exploring South Indian hill station and beaches can be one of the most rewarding experiences in life. However, planning a trip can be tremendously frustrating especially when one does not know where to start. We understand travel needs of all and deliver
            the best through meticulous planning. Joy Travels brings together a highly trained team of individuals with a combined management experience of over two decades in the travel industry. A team which has the confidence and the expertise to handle
            the most complex and challenging tasks they are faced with. Our rich experience helps us to understand your needs and give you a product that suits your requirement. Our linkages in the travel domain ensure that we provide our travelers and
            corporate clients with the best deals.
        </div>
    </section>
</main>